<%# <form action="/users" method="POST" accept-charset="utf-8">
  <label for="username">User name:</label>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  <%# <input type="text" id="fname" name="fname"><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="pass" name="password"><br><br>
  <input type="submit" value="Submit"> %>
<%# </form> %>

<%# <%= form_tag("/users", method: "post") do %> 
  <%# <%= label_tag("Username :") %> 
  <%# <%= text_field_tag(:username) %> 
  <%# <%= submit_tag("Submit") %> 
<%# <% end %>


<%= form_with model: @user do |form| %>
<div class="form-group">
  <%= form.label "Username :" %>
  <%= form.text_field :username, placeholder: "Your user name here", :class => 'form-control' %>
  </div>
<div class="form-group">
  <%= form.label "Email Address :" %>
  <%= form.text_field :email, placeholder: "example@example.com", :class => 'form-control' %>
</div>
<div class="form-group">
  <%= form.label "Password :" %>
  <%= form.password_field :password, :class => 'form-control' %>
</div>
  <%= form.submit :class => 'btn btn-primary' %>
  <%= link_to "Back", users_path, :class => 'btn btn-success' %>
<% end %>